name: CI

on:
  push:
  pull_request:
    branches:
      - master

jobs:

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:

      - name: Checkout source
        uses: actions/checkout@v2

      - name: Setup Python 3.7
        uses: actions/setup-python@v1
        with:
          python-version: 3.7

      - name: Start linting
        run: |
          pip install -e .[dev]
          black --version
          black --diff --check brute
          mypy --version
          mypy
